#Navbar-Brand {
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

#Navbar-img {
    width: 20px;
    height: 20px;
}

.calling {
    background-color: rgb(73, 62, 230);
    padding: 3px;
    
    
}

#call-left-llamado {
    color: aliceblue;
    font-size:xx-large;
    margin-top: 20px;
    font-weight: bold;
}

#call-left-bajada {
    color: aliceblue;
    font-size:small;
    margin-top: 20px;    
}

#call-left-button Button{
    margin-top: 20px;
    margin-right: 10px;
    font-size:small;
}

#call-img {
    margin-top: 10px;
    border-radius: 10%;
    height: 300px;
    width: 100%;
    height: 100%;
}

#call-line {
    color: aliceblue;
    font-size:small;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.rational {
    background-color: rgb(229, 228, 235);
    padding: 3px;
    
}

#rational-left-llamado {
    color: rgb(15, 15, 15);
    font-size:xx-large;
    margin-top: 20px;
    font-weight: bold;
}

#rational-left-bajada {
    color: rgb(24, 25, 26);
    font-size:small;
    margin-top: 20px;    
}

#rational-left-button Button{
    margin-top: 20px;
    margin-right: 10px;
    font-size:small;
}

#rational-img {
    margin-top: 10px;
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.rational-left-accordion {
    --bs-accordion-bg: rgb(229, 228, 235) !important;
    padding: 3px;    
}

.rational-left-accordion-header {
    font-weight: bold !important;
}

.h6-accordion-heading .x-accordion-toggle {
    font-weight: bold !important;
}

.h8-accordion-heading {
    font-weight: bold !important;
    color: blue;
    font-size: medium;
    
}

.h8-accordion-heading a {
    text-decoration: none;
}

.detail {
    background-color: rgb(252, 252, 253);
    text-align: center;
}

#detail-up-llamado {
    color: rgb(15, 15, 15);
    font-size:xx-large;
    font-weight: bold;
    text-align: center;    
}

#detail-bajada {
    text-align: center !important;
}

#detail-button {
    align-self: center;
}

#detail-button Button {
    margin-right: 10px;
}

#detail-text {
    display: flex;
    flex-direction: row;
}

#detail-img {
    margin-top: 10px;
    border-radius: 10%;
    max-width: 60%;
    max-height: 60%;
    border-radius: 5%;
    border-color: blue;
    border-style:ridge;
}

#detail-text-right {
    margin-top: 5px;
    max-width: 50px;
    font-size: medium;
    color: blue;
    font-weight: bold;

}

#detail-text-right a {
    text-decoration: none;
}

#detail-text-right Span {
    color: blue;
    margin-left: 5px;
    font-weight: bold;
    text-align: center;
}

#detail-text-llamado {
    color: rgb(15, 15, 15);
    font-size:xx-large;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

#detail-text-bajada {
    text-align: left !important;
    max-width: 700px;
}

.customer {
    background-color: rgba(196, 224, 231, 0.473);
}

#customer-llamado {
    color: rgb(15, 15, 15);
    font-size:xx-large;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;    
}

#customercarrusel-img {
    max-width: 100%;
    height: auto;
}

.customer-carrusel-button {
    visibility: hidden !important;
}

.whyfoundesk {
    background-color: rgb(73, 62, 230);
    padding: 3px;
    text-align: center;
}

#whyfoundesk-line1 {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#whyfoundesk-line2 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#whyfoundesk-line3 {
    font-size: small;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.whyfoundesk-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.whyfoundesk-data h5 {
    font-size: small;
    font-weight: lighter;
}

#whyfoundesk-button {
    margin-bottom: 10px;
}

.contents {
    background-color: rgb(250, 250, 252);
    padding: 3px;
    text-align: left;
}

#contents-llamado {
    color: rgb(15, 15, 15);
    font-size:xx-large;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;    
}

#contents-bajada {
    color: rgb(15, 15, 15);
    font-size:medium;
    margin-top: 10px;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 15px;   
}

#contents-cards {
    display: flex;
    flex-direction: row;
}

#contents-link {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    color: blue;
    text-decoration: underline;
}

.start {
    background-color: rgba(230, 245, 255, 1);
    padding: 3px;
    text-align: left;    
}

#start-llamado {
    color: rgb(15, 15, 15);
    font-size:xx-large;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;    
}

#start-img {
    max-width: 100%;
    height: auto;
}

#courses-head {
    color: blue;
    font-weight: bold;
    margin-top: 20px;
}

#courses-selected {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.courses-line-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#courses-line-count-left {
    color: dimgrey;
    font-weight: bold;
    font-size: larger;
}

#courses-line-count-right {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#courses-line-count-right-order {
    color: rgb(134, 134, 134);
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#courses-line-count-right-dropdown {
    color: rgb(9, 175, 153);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#courses-cards-author {
    margin-top: 20px;
    margin-bottom: 20px;
}

#courses-cards-author p {
    font-size: small;
}

#courses-cards-price {
    color: crimson;
    font-weight: bold;
    font-size: large;
}

#courses-cards-button-shopping {
    max-width: 100%;
    max-height: auto;
    margin-right: 10px;   
}

#courses-backtoup {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(9, 175, 153);
}

#courses-backtoup Button {
    color: rgb(9, 175, 153);
}

#courses-categories-accordion-imagenicono {
    margin-right: 10px;
    width: 20px;
    height: auto;
}

#courses-categories-accordion-imagenpublicidad {
    margin-right: 10px;
    width: 80px;
    height: auto;
}

.courses-categories {
    margin-top: 10px;
    margin-bottom: 20px;
}

.courses-categories-body {
    display: flex;
    flex-direction: row;
}

#courses-categories-seccion {
    
}

#courses-categories-reproducciones-img {
    margin-right: 10px;
    width: 15px;
    height: auto;
}

#courses-categories-lineup {

}

#courses-categories-calificaciones-img {
    margin-right: 10px;
    width: 15px;
    height: auto; 
}

.dashboard-menu-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.dashboard-data img {
    margin-top: 10px;
    border-radius: 10%;
    max-width: 500px;
    height: auto;
}

.dashboard-data p {
    margin-top: 10px;
    color: dimgray;
    text-align: justify;
    font-size: small;
}

.dashboard-data-grid {


}

.dashboard-data-grid img {
    width: 100%;
    height: auto;
}

#dashboard-menu {
    display: flex;
    flex-direction: column;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(108%);
  font-weight: bold;
}

.carousel-inner {
    margin-top: 2%;
    background-color: rgba(194, 191, 191, 0.295) !important;
    border-radius: 5% !important;
    }

#templatescarrusel-img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 60%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#templatescarrusel-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

#templates-data-p {
    color: dimgray;
    text-align: justify;
    font-size: small;
}

.about-bajada-p {
    color: dimgray;
    text-align: justify;
    font-size: medium;
    margin: 2%;
}

.about-img-principal {
    margin-top: 10px;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    padding: 0%;
    align-content: center;
    text-align: center;   
}

.about-img-ceo {
    margin-top: 10px;
    border-radius: 10%;
    max-width: auto;
    max-height: 200px;
    align-content: center;  
}

.about-ceo-data {
    text-align: center;
    font-size: small;
}

.about-bottomline {
    background-color: blue;
    border-radius: 5%;
    padding: 10%;
    text-align: center;
    color: aliceblue;
    line-height: 300%;    
}

.about-bottomline Button {
    background-color: white;
    color: blue;
    font-weight: bold;
}

.calendar-css {
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: center;
    margin-top: 10%;
    text-align: center;    
}

.blog-categories {
    display: grid;
    grid-template-columns: min-content;
    background-color: aliceblue;
    text-align: left;
}

#blog-detail-img {
    margin-top: 10px;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

.blog-detail-div {
    text-align: center;
}

.blog-detail-div h5 {
    font-weight: normal !important;
    text-decoration: none;
}

.login-grid {
    padding-inline: 80px;
    padding-left: 20% !important;
    padding-right: 20% !important;
}

#login-title {
    padding-top: 5%;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-text {
    text-align: center;
    text-decoration: none;
    margin-bottom: 5%;
}

#button-login {
    margin-top: 5%;
}
#login-forgot {
    margin-top: 5%;
}

#boundle-shopping-img {
    border-radius: 10%;
    max-width: 30%;
    max-height: 30%;
}

.boundle-shoppingcart-list {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
}

#shopping-cart-remove-img {
    border-radius: 10%;
    max-width: auto;
    max-height: 10px;
}

#shopping-cart-pages-title {
    height: 50px;
    width: 100%;
    text-align: left;
    font-size: xx-large;
    background-color: darkcyan;
    color: aliceblue;
    font-weight: bold;
    padding-left: 10px;
}

.shopping-cart-summary-box {
    background-color: rgb(216, 214, 214);
    padding: 40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 40px;
}

.shopping-cart-summary-box h3 {
    text-align: center;
}

.shopping-cart-summary-box p {
    margin: 10px;
}

.shopping-cart-summary-box h4 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 10px;
}

.shopping-cart-summary-box h5 {
    margin: 10px;
}

